.editor-h1 {
  font-size: x-large;
  font-weight: 900;
  padding: 20px 0 10px 0;
}

.editor-h2 {
  font-size: large;
  font-weight: 700;
  padding: 10px 0 5px 0;
}

.editor-h3 {
  font-size: medium;
  font-weight: 500;
}

.editor-img {
  padding: 8px 0 18px 0;
}

.editor-a{
  text-decoration: underline;
  font-weight: bold;
}

.wysiwyg-editor-container {
  padding: 10px;
}
.editor-popover {
  position: absolute;
  top: auto;
  padding: 10px 0 0 0;
  margin-left: 50%;
  transform: translateX(-50%) translateY(50%);
  z-index: 99;
}
.editor-popover-toolbar {
  backdrop-filter: blur(100px);
  border-style: groove;
  padding: 8px;
  border-radius: 8px;
  border: solid #bdbdbd 1px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}
.editor-popover:hover {
  background-color: none;
  pointer-events: none;
}
.editor-popover-toolbar:hover {
  pointer-events: all;
}

.editor-h1,
.editor-h2,
.editor-h3 {
  padding: 10px 0px 10px 0px;
  border: none !important;
}

@media screen and (max-width: 480px) {
  .editor-popover {
    margin-left: -10%;
    margin-top: -30%;
  }
}
